ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: royalblue;
}

nav li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover, .profile:hover .dropbtn {
    background-color: blue;
}

li.dropdown {
        display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: hotpink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px red;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: grey;
}

.dropdown:hover
.dropdown-content {
    display: block;
}

.topnav input[type=search] {
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
}


.page {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: -100vw;
   overflow-y: auto;
   z-index: 0;
   background-color: hsl(0,0%,100%);
}

 .page:target {
   left: 0vw;
   z-index: 1;
}

.description {
    height: 4000px !important;
}